<!-- Rendering cookie policy block -->
<div class="o-cookiepolicy">
    <div class="o-cookiepolicy__terms">
        <p class="o-cookiepolicy__terms__disclaimer">
            Our website works best using cookies. By continuing to use the site, you agree to the use of cookies. Read more about
            <a href="/gb/en/cookie-policy" class="o-cookiepolicy__terms__disclaimer__link">cookies </a>
            and our
            <a href="/gb/en/privacy" class="o-cookiepolicy__terms__disclaimer__link">privacy notice.</a>
        </p>
        <a href="#" class="o-cookiepolicy__terms__cta">I accept</a>
    </div>
</div>