<!-- Rendering the tertiary links and partner images -->
<footer class="o-color--chathams-blue o-color--bg--white m-footer t-spacer--pt-xl t-spacer--pt-hg@lg " data-controller="footer" data-config="">
    <object class="o-color--white o-curve" aria-label="curved white line">
        <svg viewBox="0 0 7400 200" preserveAspectRatio="none" class="o-curve__media" aria-hidden="true">
            <path d="M7400,0 L7400,200 L0,200 L0,0 C1230.896,96.719 2465.563,155.344 3700,156.174 C4934.476,156.399 6169.052,95.64 7400,0 z" fill="currentColor"></path>
        </svg>
    </object>
    <div class="o-container">
        <div class="o-row o-row--between-xs">
            <div class="o-col-xs-12 o-col--none-lg">
                <ul class="list--plain o-separator o-separator--t o-separator--c-gallery--ghost m-footer__nav t-spacer--mb-xl t-spacer--mb-lg@md">
                    <li class="o-container o-separator o-separator--b o-separator--c-gallery--ghost m-footer__nav-item t-spacer--mb-sm@md t-spacer--pl-na@md--down t-spacer--pr-na@md--down">
                        <a href="https://www.aviosgroup.com/" class="o-button e-link--plain o-button--tertiary o-button--inherit  track_it" target="_blank" rel="noopener">
                            <span class="o-button--icon o-icon o-icon--i-arrow-right t-spacer--mr-xs" aria-hidden="true"></span>
                            <span class="o-button__text o-button--strong">Our Company</span>
                            <div class="o-button__loader"></div>
                        </a>
                    </li>
                    <li class="o-container o-separator o-separator--b o-separator--c-gallery--ghost m-footer__nav-item t-spacer--mb-sm@md t-spacer--pl-na@md--down t-spacer--pr-na@md--down">
                        <a href="https://jobs.avios.com" class="o-button e-link--plain o-button--tertiary o-button--inherit  track_it" target="_blank" rel="noopener">
                            <span class="o-button--icon o-icon o-icon--i-arrow-right t-spacer--mr-xs" aria-hidden="true"></span>
                            <span class="o-button__text o-button--strong">Careers</span>
                            <div class="o-button__loader"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="o-col-xs-12 o-col--none-lg">
                <ul class="list--plain m-footer__social t-display--flex t-spacer--ml-md- t-spacer--mb-lg">
                </ul>
            </div>
        </div>
        <div class="o-row o-row--between-md">
            <div class="o-col-xs-12 o-col--none-md">
                <ul class="list--plain m-footer__subnav t-display--flex">
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/gb/en/contact-us" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y">Contact us</a>
                    </li>
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/gb/en/privacy" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y">Privacy</a>
                    </li>
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/gb/en/security" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y">Security</a>
                    </li>
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/gb/en/accessibility" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y">Accessibility</a>
                    </li>
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/gb/en/terms-and-conditions" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y">Terms &amp; Conditions</a>
                    </li>
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/cms/pdf/corporate/IAGModernSlavery.pdf?from=footer" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y track_it" target="_blank" rel="noopener">Modern slavery act</a>
                    </li>
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/gb/en/cookie-policy" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y">Cookie Policy</a>
                    </li>
                    <li class="small small--tiny m-footer__subnav-item t-spacer--mb-sm">
                        <a href="/cms/pdf/corporate/GPGR.pdf?from=footer" class="e-link--plain e-link--fade o-separator--c-gallery--ghost text--smooth-y track_it" target="_blank" rel="noopener">AGL Gender Pay Gap Report</a>
                    </li>
                </ul>
            </div>
            <div class="o-col-xs-12 o-col--none-md">
                <p class="small small--tiny m-footer__copyright t-spacer--mb-xl">
                    © 2019 Avios. All rights reserved
                </p>
            </div>
        </div>
    </div>
    <div class="m-footer__partners-holder">
        <div class="o-container t-spacer--pl-na@md--down t-spacer--pr-na@md--down t-spacer--pt-xs@lg t-spacer--pb-xs@lg">
            <ul class="list--plain o-row o-row--no-gutter m-footer__partners t-spacer--mb-na
                t-spacer--pt-md@lg t-spacer--pb-md@lg">
                <li class="o-col-xs-6 o-col-lg-4 o-col--none-lg o-separator o-separator--c-gallery--ghost m-footer__partners-item">
                    <a href="http://www.iairgroup.com" title="IAG" class="e-link--plain e-link--fade t-display--block track_it" target="_blank" rel="noopener">
                    <img class="o-media__image" src="https://www.avios.com/media/images/a2-iag-logo.svg" alt="IAG logo">
                    </a>
                </li>
                <li class="o-col-xs-6 o-col-lg-4 o-col--none-lg o-separator o-separator--c-gallery--ghost m-footer__partners-item">
                    <a href="https://www.britishairways.com" title="British Airways" class="e-link--plain e-link--fade t-display--block track_it" target="_blank" rel="noopener">
                    <img data-programme="BAEC" class="o-media__image" src="https://www.avios.com/media/images/a2-british-airways-logo.svg" alt="British Airways logo">
                    </a>
                </li>
                <li class="o-col-xs-6 o-col-lg-4 o-col--none-lg o-separator o-separator--c-gallery--ghost m-footer__partners-item">
                    <a href="http://www.iberia.com" title="Iberia" class="e-link--plain e-link--fade t-display--block track_it" target="_blank" rel="noopener">
                    <img data-programme="IBPL" class="o-media__image" src="https://www.avios.com/media/images/a2-iberia-logo.svg" alt="Iberia Logo">
                    </a>
                </li>
                <li class="o-col-xs-6 o-col-lg-4 o-col--none-lg o-separator o-separator--c-gallery--ghost m-footer__partners-item">
                    <a href="https://www.aerlingus.com" title="Aer Lingus" class="e-link--plain e-link--fade t-display--block track_it" target="_blank" rel="noopener">
                    <img data-programme="AERCLUB" class="o-media__image" src="https://www.avios.com/media/images/a3-aer-lingus-logo.png" alt="Aer Lingus logo">
                    </a>
                </li>
                <li class="o-col-xs-6 o-col-lg-4 o-col--none-lg o-separator o-separator--c-gallery--ghost m-footer__partners-item">
                    <a href="http://www.vueling.com/en" title="Vueling" class="e-link--plain e-link--fade t-display--block track_it" target="_blank" rel="noopener">
                    <img data-programme="PUNTO" class="o-media__image" src="https://www.avios.com/media/images/a2-vueling-logo.svg" alt="Vueling logo">
                    </a>
                </li>
                <li class="o-col-xs-6 o-col-lg-4 o-col--none-lg o-separator o-separator--c-gallery--ghost m-footer__partners-item">
                    <a href="/gb/en/atol" title="ATOL" class="e-link--plain e-link--fade t-display--block">
                    <img class="o-media__image" src="https://www.avios.com/media/images/at-atol-logo.svg" alt="atol-protection logo">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>