<!-- Rendering language change warning -->
<section class="o-languageConfirmation">
    <div class="o-languageConfirmation__modal">
        <h1 class="o-languageConfirmation__modal__title">Are you sure you want to change your language?</h1>
        <h1 class="o-languageConfirmation__modal__subtitle"></h1>
        <a href="" class="o-languageConfirmation__modal__cta o-languageConfirmation__modal__cta--confirm">Yes, I am sure</a>
        <a href="" class="o-languageConfirmation__modal__cta o-languageConfirmation__modal__cta--cancel">Cancel</a>
    </div>
</section>
<!-- Rendering the header/nav -->
<header class="font--semibold m-global-navigation m-global-navigation--fixed m-global-navigation--scroll" data-controller="globalNavigation" data-config="{&quot;carousel&quot;:{&quot;customNavButtons&quot;:&quot;.o-carousel__nav&quot;,&quot;group&quot;:true,&quot;pips&quot;:false, &quot;lockOnMobile&quot;: true},&quot;liveSupport&quot;:{&quot;type&quot;:&quot;chat&quot;,&quot;link&quot;:&quot;https://chat.avios.com/Test/&quot;},&quot;dropdown&quot;:{&quot;exclusive&quot;:true},&quot;endpoints&quot;:{}}" data-mitag="{&quot;lang&quot;:&quot;en&quot;,
				&quot;device&quot;:&quot;desktop&quot;
				}">
    <div class="m-global-navigation__main t-display--none@lg">
        <a href="/gb/en/homepage" class="e-link--plain e-link--fade m-global-navigation__logo  track_it">
        <img class="m-global-navigation__logo__image" src="https://www.avios.com/assets/images/avios-logo_85.png" alt="Avios">
        </a>
        <div class="m-global-navigation__mobile">
            <div class="m-global-navigation__mobile__status">
                <a href="/gb/en/join-avios" class="o-button e-link--plain o-button--nav-elements e-link--fade o-button--md-full o-button--background-picton-blue o-color--white">
                    <span class="o-button__text">Join Avios Now</span>
                    <div class="o-button__loader"></div>
                </a>
            </div>
            <div class="m-global-navigation__mobile__trigger" aria-controls="dropdown-header-nav" data-dropdown__head="">
                <div class="m-global-navigation__mobile__trigger__icon" aria-hidden="true">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <b>menu</b>
            </div>
        </div>
    </div>
    <div class="o-container m-global-navigation__container t-spacer--pl-na@md--down t-spacer--pr-na@md--down">
        <div class="m-global-navigation__nav">
            <div class="m-global-navigation__signin t-display--none@lg">
                <a href="/gb/en/signin" class="o-button o-button--secondary e-link--plain o-button--inherit o-button--md o-button--md-full o-color--lynch">
                    <span class="o-button__text o-button--strong">Sign In</span>
                    <div class="o-button__loader"></div>
                </a>
            </div>
            <div class="m-global-navigation__left-desktop-group">
                <a href="/gb/en/homepage" class="e-link--plain e-link--fade m-global-navigation__logo t-display--none@md--down track_it">
                <img class="m-global-navigation__logo__image" src="https://www.avios.com/assets/images/avios-logo_85.png" alt="Avios">
                </a>
                <a href="https://stage.avios.com/gb/en_gb/collect" class="e-link--fade o-dropdown__trigger o-dropdown__head m-global-navigation__item o-color--chathams-blue m-global-navigation__item--trigger global-navigation--link">
                    <b>
                        Collect Avios
                        <!-- <span class="t-display--none@lg"> Avios</span> -->
                    </b>
                    <span class="o-icon o-dropdown__icon o-icon--i-dropdown-down" aria-hidden="true"></span>
                </a>
                <a href="https://stage.avios.com/gb/en/spend" class="e-link--fade o-dropdown__trigger o-dropdown__head m-global-navigation__item o-color--chathams-blue m-global-navigation__item--trigger global-navigation--link">
                    <b>
                        Spend Avios
                        <!-- <span class="t-display--none@lg"> Avios</span> -->
                    </b>
                    <span class="o-icon o-dropdown__icon o-icon--i-dropdown-down" aria-hidden="true"></span>
                </a>
            </div>
            <div class="m-global-navigation__top-desktop-group">
                <div class="e-link--fade o-dropdown__trigger o-dropdown__head m-global-navigation__item m-global-navigation__item--top m-global-navigation__languages m-global-navigation__item--trigger" aria-controls="dropdown-header-languages" data-dropdown__head="">
                    <div class="m-global-navigation__subnav__item__flag__wrapper" data-dropdown="">
                        <div class="m-global-navigation__subnav__item__flag">
                            <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-uk.svg" alt="United Kingdom flag">
                        </div>
                        United Kingdom - English
                    </div>
                    <span class="o-icon o-dropdown__icon o-icon--i-dropdown-down" aria-hidden="true"></span>
                </div>
                <div class="m-global-navigation__subnav m-global-navigation__subnav--top">
                    <div id="dropdown-header-languages" class="o-dropdown is-hidden" data-dropdown="header">
                        <div class="m-global-navigation__subnav__wrapper">
                            <b class="m-global-navigation__subnav__title">Europe</b>
                            <a href="/gb/en/help-contact-us" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-uk.svg" alt="United Kingdom flag">
                                    </div>
                                    United Kingdom - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/fr/fr" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-france.svg" alt="France flag">
                                    </div>
                                    France - Français
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/es/es" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-spain.svg" alt="Spain flag">
                                    </div>
                                    España - Castellano
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/fr/en" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-france.svg" alt="France flag">
                                    </div>
                                    France - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/es/ca" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-spain.svg" alt="Spain flag">
                                    </div>
                                    Espanya - Català
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/es/en" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-spain.svg" alt="Spain flag">
                                    </div>
                                    Spain - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/it/it" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-italy.svg" alt="Italy flag">
                                    </div>
                                    Italia - Italiano
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/it/en" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-italy.svg" alt="Italy flag">
                                    </div>
                                    Italy - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/ie/en/help-contact-us" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-ireland.svg" alt="Ireland flag">
                                    </div>
                                    Ireland - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/eu/en/help-contact-us" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-rest-of-europe.svg" alt="Rest of Europe flag">
                                    </div>
                                    Rest of Europe - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <b class="m-global-navigation__subnav__title">North America</b>
                            <a href="/us/en" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/a1-flag-usa.svg" alt="USA flag">
                                    </div>
                                    United States - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <a href="/ca/en" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/canada-flag.png" alt="Canada flag">
                                    </div>
                                    Canada - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                            <b class="m-global-navigation__subnav__title">Rest of the World</b>
                            <a href="/av/en" class="e-link--plain e-link--fade m-global-navigation__subnav__item">
                                <div class="m-global-navigation__subnav__item__flag__wrapper">
                                    <div class="m-global-navigation__subnav__item__flag">
                                        <img class="m-global-navigation__subnav__item__flag__image" src="https://www.avios.com/media/images/simpleglobe.svg" alt="Rest of World flag">
                                    </div>
                                    Rest of the World - English
                                </div>
                                <span class="o-icon o-icon--i-arrow-right t-display--none@lg" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-global-navigation__right-desktop-group">
                <div class="m-global-navigation__signin t-display--none@md--down">
                    <a href="/gb/en/signin" class="o-button o-button--nav-elements e-link--plain e-link--fade o-button--background-white o-color--chathams-blue">
                        <span class="o-button__text o-button--strong">Sign In</span>
                        <div class="o-button__loader"></div>
                    </a>
                </div>
                <div class="m-global-navigation__item m-global-navigation__join t-display--none@md--down">
                    <a href="/gb/en/join-avios" class="o-button e-link--plain e-link--fade o-button--md o-button--background-picton-blue o-color--white">
                        <span class="o-button__text">Join Avios Now</span>
                        <div class="o-button__loader"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-global-messages t-spacer--pl-na@md--down t-spacer--pr-na@md--down" data-controller="globalMessages" data-config="{&quot;events&quot;:[&quot;GLOBAL_MESSAGE_SHOW&quot;,&quot;GLOBAL_MESSAGE_HIDE&quot;],&quot;showOnLoad&quot;:false,&quot;global&quot;:[],&quot;language&quot;:{&quot;message&quot;:&quot;Your language has been changed successfully.&quot;,&quot;state&quot;:&quot;success&quot;}}">
    </div>
</header>