{% extends "layout.njk" -%}

{% block content -%}
  {% include "partials/_cookiePolicy.njk" %}
  {% include "partials/_navigation.njk" %}
  <section class="o-color--white  o-color--alabaster o-object-bg m-page-masthead
          " data-controller="pageMasthead" data-config="">
    <img srcset="https://www.avios.com/media/images/b4-non-hero-generic-2-480w.jpg 480w, https://www.avios.com/media/images/b4-non-hero-generic-2-960w.jpg 960w, https://www.avios.com/media/images/b4-non-hero-generic-2-1440w.jpg 1440w, https://www.avios.com/media/images/b4-non-hero-generic-2-1920w.jpg 1920w, https://www.avios.com/media/images/b4-non-hero-generic-2-2400w.jpg 2400w, https://www.avios.com/media/images/b4-non-hero-generic-2-2880w.jpg 2880w, https://www.avios.com/media/images/b4-non-hero-generic-2-3360w.jpg 3360w" class="o-object-bg__media o-object-bg__media--cover" src="https://www.avios.com/media/images/b4-non-hero-generic-2.jpg" alt="">
    <div class="o-container o-object-bg__content">
      <div class="text--center o-container o-content o-content--sm m-global-navigation__spacer t-spacer--mb-md- c-masthead__content">
        <h1 class="h0 font--heading">We're here to help</h1>
        <p>Click on the topics below to find an answer to our frequently asked questions.</p>
      </div>
    </div>
  </section>
  <section class="m-accordion o-section o-color--bg--alabaster" data-controller="accordion" data-config="{&quot;wrapperActiveClasses&quot;:&quot;is-active o-color--bg--white&quot;,&quot;exclusive&quot;:true}">
    <div class="o-separator--list--t">
    {% for question in questions -%}
      <div class="m-accordion__wrapper " data-accordion__wrapper="">
        <div class="o-container t-spacer--pl-na@sm--down t-spacer--pr-na@sm--down">
          <dl class="t-spacer--mt-na t-spacer--mb-na">
            <dt class="o-separator--list__item--t o-separator--t o-separator--b o-separator--c-mercury
                m-accordion__separator--t m-accordion__heading t-spacer--ml-sm@sm t-spacer--mr-sm@sm">
                <a href="#accordion-content-{{ question.id }}" aria-controls="accordion-content-{{ question.id }}" class="e-link--plain e-link--fade o-dropdown__head o-color--chathams-blue t-display--block t-spacer--pt-md t-spacer--pb-md
                  t-spacer--pl-sm@sm t-spacer--pr-sm@sm t-spacer--p-lg@md " data-dropdown__head="" data-accordion__heading="">
                  <div class="o-container t-spacer--pl-na@md t-spacer--pr-na@md">
                    <div class="o-row o-row--middle-xs m-accordion__title">
                      <span class="h3 font--heading o-col-xs-11 t-spacer--mb-na">{{ question.title | safe}}</span>
                      <b class="h3 m-accordion__title__dropdown-icon">
                      <i class="o-icon o-icon--i-dropdown-down o-dropdown__icon t-display--block" aria-hidden="true"></i>
                      </b>
                    </div>
                  </div>
                </a>
            </dt>
            <dd class="t-spacer--ml-na t-spacer--ml-sm@sm t-spacer--mr-sm@sm">
              <div class="o-dropdown is-hidden" id="accordion-content-{{ question.id }}" role="region" aria-label="{{ question.title | safe}}" tabindex="-1" aria-expanded="false" data-dropdown="" data-accordion__content="">
                <div class="o-container t-spacer--pl-na@md t-spacer--pr-na@md">
                  <div class="t-spacer--pt-md t-spacer--pb-md t-spacer--pl-sm@sm t-spacer--pr-sm@sm
                    t-spacer--p-lg@md t-spacer--pt-hg@lg t-spacer--pb-hg@lg">
                    <div class="t-spacer--mb-md-">
                      <div class="small">
                        <div class="w-cms-content o-content">
                          {% for answer in question.answers -%}
                            <h3>{{ answer.title | safe }}</h3>
                            {{ answer.value | safe }}
                          {%- endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    {%- endfor %}
    </div>
  </section>
  {% include "partials/_footer.njk" %}
{%- endblock %}